<div class="content">
  <div class="container">
    <form class="search-form" [formGroup]="searchForm">
      <input type="text" [formControlName]="'name'" [(ngModel)]="search1" placeholder="Search By Author Name..." name="search">
    </form>
    <br>
    <div class="row" *ngFor="let post of posts | async | filter: [{field:'username', value: search1}]">
      <div class="blog-post card">
        <h3><a href="/post/{{post.id}}" class="blog-title">{{post.title}}</a></h3>
        <div>
           <p><i class="fas fa-user"></i> &nbsp;Author: {{post.username}}</p>
        </div>
        <hr class="hr-home">
        <p [innerHTML]="post.content" class="post-data"></p>
        <div>
          <a  type="button" href="/post/{{post.id}}" class="read-more btn btn-outline-dark"><span>Read More</span></a>
        </div>
        <hr>
      </div>
      <hr>
    </div>
  </div>
</div>
