.login-body {
  background: #f1f1f1;
}

.card {
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  margin-top: 10vh;
  margin-bottom: 30px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  background: #f1f1f1;
}

/* Style the form icons */
.icon {
  padding: 13px;
  background: #fff;
  color: #1fc8db;
  min-width: 50px;
  text-align: center;
}

.btn {
  background: #1fc8db;
  border: none;
}

/* Style the input container */
.form-group {
  display: flex;
  width: 100%;
}

.login-title {
  font-family: "Comic Sans MS";
  text-align: center;
  color: #2e3034;
  font-weight: bolder;
  font-size: 3vw;
}
@media screen and (max-width: 600px) {

  .login-title {
    font-family: "Comic Sans MS";
    text-align: center;
    color: #2e3034;
    font-weight: bolder;
    font-size: 7vw;
  }

  .card {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin-top: 9vh;
    margin-bottom: 30px;

  }

}

/* Modal */


.modal-body {

  background-color: #FFF;
  color: red;

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: none;
  width: 90%;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0px; opacity: 1}
}


.forgot-password {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #2e3034;
}

a:active, a:visited, a:link {
  color: #1fc8db;
  font-weight: bolder;
}
