<dynamic-loader loaderType="rectangle-flip" >
</dynamic-loader>
<div class="register-body">
<div class="container justify-content-center">
  <div class="card">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-4 register-title">Let's create your account...</h1>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback modal-content modal-body" id="error1">
      <div  *ngIf="f.username.errors.required">Username is required</div>
    </div>
    <div class="invalid-feedback modal-content modal-body" id="error4" style="display: none">
      <div>Username is not available, try a different username.</div>
    </div>
    <div class="form-group">
      <label for="inputUsername" class="sr-only">Username</label>
      <span class="fa fa-user icon"></span>
      <input type="text" (keypress)='hideError4()' id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username" required="" autofocus="" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    </div>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback modal-content modal-body" id="error2">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email</label>
      <i class="fa fa-envelope icon"></i>
      <input type="email" id="inputEmail" [formControlName]="'email'" class="form-control" placeholder="Email" required="" autofocus="" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    </div>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback modal-content modal-body" id="error3">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.pattern">Password must contain - an uppercase letter | a lowercase letter | a number | a special character | minimum 8 characters</div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <i (click)="password()" class="fa fa-eye icon"></i>
      <input [type]="show ? 'text' : 'password'" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required="" autofocus="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    </div>
    <button class="btn btn-lg btn btn-primary btn-block" type="submit">Sign Up</button>
  </form>
    <div id="register-success" class="modal-content1 modal-body1" style="display: none">
      <div>Registered Successfully!! Redirecting...</div>
    </div>
  </div>
</div>
</div>
