<!-- start section footer -->
<div id="footer" class="text-center">
  <div class="socials-media text-center">

    <ul class="list-unstyled">
      <li><a href="https://www.facebook.com/abhinay.bhatt.948"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://twitter.com/abhinaaybhatt"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.instagram.com/abhinaaybhatt/"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://github.com/abhinaay"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/abhinaay-bhatt/"><i class="fab fa-linkedin"></i></a></li>
    </ul>

  </div>
  <div class="credits">
    Designed by Abhinay Bhatt
  </div>


</div>
<!-- End section footer -->
