.header {
  position: sticky;
  background: #f1f1f1;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 3px;
}

.title {
    color: #19181A;
    text-decoration: none;

}

.img-responsive {
  width: 20vw;
  height: 8vh;

}

.login {
    float: right;
    color: #19181A;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 17px;
}
.register {
  float: right;
  color: #19181A;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 17px;
  margin-right: 10px;
}

.logout {
  float: right;
  color: #19181A;
  font-weight: bolder;
  margin-top: 17px;

}
.new-post {
  float: right;
  color: #19181A;
  font-weight: bolder;
  margin-top: 17px;
  margin-right: 10px;
}
